body {
	font-size: 14pt;
}

a:link, a:visited, a:hover, a:active {
	color: #0000FF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#results-info {
	margin-top: 20px;
}

#content {
	margin-top: 100px;
	margin-left: 100px;
}

*:focus {
    outline: 0;
}

#search-icon {
	position: relative;
	z-index: 99;
	left: 60px;
	font-size: 30pt;
}

#search {
	margin-left: -50px;
	white-space: nowrap;
}

#search input[type="text"], .fa-search {
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
	color: #d7d7d7;
}

#search input[type="text"] {
	background: #444;
	padding: 6px 15px 6px 70px;
	border: 0 none;
	font: bold 40px Arial,Helvetica,Sans-serif;
	width: 450px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
	width: 450px;
}

#page-numbers {
	float: left;
	list-style: none;
	padding-left: 10px;

}

#page-numbers li {
	display: inline;
}

#page-numbers .current-page {
	color: blue;
}
